<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/layout/header :: common_header"></head>

<body>
	<div class="container-scroller">

		<nav class="navbar horizontal-layout col-lg-12 col-12 p-0">
			<div th:replace="fragments/layout/header :: common_notifications_min"></div>
		</nav>

		<div class="container-fluid page-body-wrapper">
			<div class="main-panel">
				<div class="content-wrapper">
					<div class="row">
						<div class="col-lg-12">
							<div class="card">
								<div class="card-body">
									
									<div class="col-md-12 d-flex justify-content-end">
				                      	<form th:action="@{/logout}" method="POST">
											<input type="hidden" th:name="${_csrf.parameterName}"
												th:value="${_csrf.token}" />
											<button th:if="${user.hash ne 'EDIT'}" class="btn btn-danger">
												<span class="glyphicon glyphicon-log-out"></span> Salir
											</button>
										</form>
				                     </div>
									
									<div class="form-group">
										<div th:replace="fragments/layout/header :: common_messages"></div>
									</div>
									<h4 th:if="${user.hash ne 'EDIT'}" class="card-title">Es necesario cambiar la contrase&ntilde;a</h4>
									<h4 th:if="${user.hash eq 'EDIT'}" class="card-title">Cambiar contrase&ntilde;a</h4>
									<form class="cmxform" id="signupForm" th:object="${user}" method="post" th:action="@{/newpassword}">
										<fieldset>
											<div class="form-group">
												<label for="password">Contrase&ntilde;a</label> <input id="password"
													class="form-control" name="password" type="password" required="required">
											</div>
											<div class="form-group">
												<label for="confirmPassword">Confirma tu contrase&ntilde;a</label> <input
													id="verifyPassword" class="form-control"
													name="verifyPassword" type="password" required="required">
											</div>
											<div class="form-group">
												<div class="badge badge-danger">Debe
																	tener una longitud de 8 a 20 caracteres, incluir al menos un n&uacute;mero, incluir una letra may&uacute;scula e incluir un caracter especial !@#$%&*-</div>
											</div>
											<div class="col-md-12 d-flex justify-content-end">
						                        <input type="hidden" name="idUser" th:value="${user.idUser}" />
						                        <input type="hidden" name="hash" th:value="${user.hash}" />
						                        <a th:if="${user.hash eq 'EDIT'}" class="btn btn-danger" th:href="@{/home}">Cancelar</a>
												<input class="btn btn-primary" type="submit" value="Guardar">
						                    </div>	
										</fieldset>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<footer th:replace="fragments/layout/header :: common_footer"></footer>
</body>

</html>
