<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:replace="fragments/layout/header :: common_header"></head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth register-bg-1 theme-one">
        <div class="row w-100 mx-auto">
          <div class="col-lg-6 mx-auto">
            <h2 class="text-center mb-4">Registro</h2>
            <div class="auto-form-wrapper">
              <form class="cmxform" id="signupForm" action="#" method="post">
              	<div class="form-group">
					<label for="username">Nombre</label>
					<input type="text" class="form-control" 
						placeholder="Nombre" name="firstname" required="required">
				</div>
				<div class="form-group">
					<label for="lastname">Apellido Paterno</label>
					<input type="text" class="form-control" 
						placeholder="Apellido Paterno" name="lastname" required="required">
				</div>
				<div class="form-group">
					<label for="secondlastname">Apellido Materno</label>
					<input type="text" class="form-control" 
						placeholder="Apellido Materno" name="secondlastname" required="required">
				</div>
				<div class="form-group">
					<label for="phone">Tel&eacute;fono</label>
                   <input class="form-control" name="phone" required="required" data-inputmask="'alias': 'phonebe'" />
                </div>
                <div class="form-group">
                	<label for="username">Correo Electr&oacute;nico</label>
					<input type="text" class="form-control" 
						placeholder="example@dominio.com" name="username" required="required">
				</div>
				<div class="form-group">
					<label for="phone">Regi&oacute;n</label>
                   <select required="required" class="form-control">
						<option value="0">ACAPULCO</option>
						<option value="1">COSTA CHICA</option>
						<option value="2">COSTA GRANDE</option>
						<option value="3">CENTRO</option>
						<option value="4">LA MONTA&Ntilde;A</option>
						<option value="5">NORTE</option>
						<option value="6">TIERRA CALIENTE</option>
						<option value="7">SIERRA</option>
					</select>
                </div>
                <div class="form-group">
					<label for="phone">Direcci&oacute;n</label>
                   <input class="form-control" name="phone" required="required" placeholder="Calle Núm. Ext., Núm. Int., Colonia C.P., Municipio"/>
                </div>
                <div class="form-group">
					<label for="phone">Grado Acad&eacute;mico</label>
                   <input class="form-control" name="phone" required="required"/>
                </div>
				<div class="form-group d-flex justify-content-center">
                  <div class="form-check form-check-flat mt-0">
                    <label class="form-check-label">
                      <input type="checkbox" class="form-check-input" id="agree" name="agree">
                      Acepto los t&eacute;rminos y condiciones.
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <button class="btn btn-primary submit-btn btn-block">Registrar</button>
                </div>
                <div class="text-block text-center my-3">
                  <span class="text-small font-weight-semibold">Ya tienes una cuenta?</span>
                  <a th:href="@{/login}" class="text-black text-small">Ingresar</a>
                </div>
              </form>
            </div>
            <ul class="auth-footer">
              <li><a href="#">Terminos y condiciones</a></li>
              <li><a href="#">Ayuda</a></li>
            </ul>
            <p class="footer-text text-center">copyright &copy; 2021 SP. All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
  <script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
  <script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
  <script th:src="@{/vendors/js/vendor.bundle.addons.js}"></script>
  <script th:src="@{/js/template.js}"></script>
  <script th:src="@{/js/form-validation.js}"></script>
  <script th:src="@{/js/bt-maxLength.js}"></script>
</body>

</html>
